.App {
  text-align: center;
  height: 33.3vh;
  font-family: 'Encode Sans Condensed', serif;
}

.img-responsive {
    max-width: 100%;
}

.description-card {
  width: 95%;
  float:left;
}

h3 {
  text-align:left;
  font-size: 24px;
}

p {
  font-size:20px;
  clear: both;
  text-align: left;
}

.icon-bar {
  margin: 0 auto;
  float:none;
}

.icon {
  width:48px;
  height:48px;
  display:inline-block;
  padding-right: 15px;
  vertical-align: middle;
}

.navbar-default {
  border-bottom: 5px dashed #ff6361;
  font-size:20px;
  vertical-align: middle;
}

.shadow {
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.page-header {
    font-family: 'Acme', serif;
    font-size: 50px;
    text-align: left
}

.navbar-default .navbar-brand {
    font-family: 'Acme', serif;
    font-size: 50px;
    vertical-align: middle;
    display:inline-block;
    margin-top: 15px;
    color: #000;
}
